.row{
    margin-top: 10px;
}
#sp_vertical_megamenu
{
    width: 100%;
   /* margin-bottom: 30px;*/
}
.sp-vertical-megamenu
{
    background: #fff;
    /*min-height: 366px;*/
}
.sp-vertical-megamenu .cat-title{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font: 600 18px/22px "Open Sans", sans-serif;
    margin: 0px;
    padding: 10px 15px 10px 35px;
    width: 100%;
    background-image: url(../img/icon_menu.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color:#89B555;
}
.sp-vertical-megamenu .cat-title:hover
{
    opacity: 1;
    background-color:#333;
}
.sp-vertical-megamenu .cat-title i.megamenu_i {
    font-size: 22px;
    margin-right: 15px;
    vertical-align: middle;
}
.sp-vertical-megamenu .vf-megamenu {
    padding: 0;
    position: relative;
    border: 1px solid #89B555;
    background: #fff;
   
}
.spvmm_numbers_col{
    float: left !important;
    width: 100% !important;
    border:1px solid #e3e1e1;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild,
.sp-vertical-megamenu .vf-megamenu li.spvmm-nochild
{
    display: inline-block;
    float: none;
    margin: 0;
    position: relative;
    width: 100%;
    padding: 0px 4px;
	border-bottom: 1px solid #e9e9e9; font-style:normal!important;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild:hover,
.sp-vertical-megamenu .vf-megamenu li.spvmm-nochild:hover
{
    background: #f4f4f4; font-style:normal!important;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm_submm_li:hover
{
    background: none;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm_submm_li:hover a.megamenu_a
{
    color: #f4a137;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm-havechildchild:hover ul.spvmm_submm_ul li.spvmm_submm_li a.megamenu_a
{
    color: #000000;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm-havechildchild ul.spvmm_submm_ul li.spvmm_submm_li:hover a.megamenu_a
{
    color: #f4a137;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild a.megamenu_a,
.sp-vertical-megamenu .vf-megamenu li.spvmm-nochild a.megamenu_a
{
    font-size: 14px;
    text-transform: none;
    color: #000;
    padding: 0 0 0 40px;
    line-height: 45px;
    display: inline;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm_submm_li a.megamenu_a {
    font-size: 14px;
    text-transform: none;
    color: #000;
    padding: 0 0 0 40px;
    line-height: 30px;
    display: inline;
}

.sp-vertical-megamenu .vf-megamenu li i.megamenu_i {
    font-size: 22px;
    left: 10px;
    top: 10px;
    position: absolute;
}
.spvmm-cap2{
    position: absolute;
    left: 100%;
    background: red;
    width: 250px;
    transform: scale(1);
}
.sp-vertical-megamenu .vf-megamenu li .fa.fa-tablet {
    font-size: 28px;
}

.sp-vertical-megamenu .vf-megamenu .spvmm_container_menu_child{
    margin:0px auto;
    top:-9999em;
    position:absolute;
    -ms-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 0px 6px 0px #fffcc8;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    z-index:999;
    background-color:#FFFFFF;
    top:0;
    left:100%;
    transform: scale(0);
    -webkit-transform: scale(0); /*Dùng để ẩn megamenu trên ipad*/
    width: auto;
    filter:alpha(opacity = 0);
    transition: 0.3s transform ease 0s;
}

.ie9 .sp-vertical-megamenu .vf-megamenu li.spvmm-havechild {
    display: block;
    float: none;
    margin: 0;
    position: relative;
    width: 100%;
    height: 46px;
}

.ie9 .sp-vertical-megamenu .vf-megamenu .spvmm_container_menu_child
{
    position: static;
    top:0;
    margin-left: 100% !important;
    -ms-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 0px 6px 0px #fffcc8;
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
    z-index:999;
    background-color:#0085a0;
    left:100%;
    display: none;
    width: auto;
    -ms-transform: none;
    filter:alpha(opacity = 0);
}

.ie9 .sp-vertical-megamenu .vf-megamenu li.spvmm-havechild:hover > .spvmm_container_menu_child
{
    display: block;
    -ms-transform: none;
}

.ie9 .sp-vertical-megamenu .vf-megamenu .spvmm_menu_child
{
    position: absolute;
    top: 0;
}

.spvmm_numbers_col ul.spvmm_submm_ul, .spvmm_numbers_col ul.product_list
{
    float: left;
    width: 260px;
}

.spvmm_numbers_col ul.product_list li.spvmm_submm_li a.megamenu_a .availability span.available-now
{
	padding: 3px 10px;
}

.spvmm_menu_child{
    position: relative;
    width: 100%;
    float: left;
    background: #fff;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm_submm_li a.megamenu_a {
    font-size: 13px;
    padding: 0;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm_submm_li > span {
	padding: 0 2px;
}

.availability
{
	clear: both;
	padding: 0 10px;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild:hover > .spvmm_container_menu_child
{
    z-index: 99;
    display: block;
    transform: scale(1);
    -webkit-transform: scale(1); /*Dùng để show lại mega menu trên ipad*/
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild > a.megamenu_a:after {
    content: "\f054";
    color: #cfd8dc;
    font-family: Fontawesome;
    font-size: 15px;
    width: 28px;
    font-weight: bolder;
    float: right;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild span.icon-close:before
{
	display: none;
}

.sp-vertical-megamenu .vf-megamenu li.spvmm-havechildchild > a.megamenu_a{
    font-weight: bolder;
    font-size: 14px;
	padding: 0;
}
.spvmm_container_menu_child ul.spvmm_submm_ul li.spvmm_submm_li
{
	padding: 0px 6px;
	border-bottom: solid 1px !important;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild ul.spvmm_submm_ul li.spvmm_submm_li a.megamenu_a:after {
    font-size: 12px;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm-havechild .more-view {
    line-height: 46px;
    padding-left: 40px;
    font-weight: bold;
    cursor: pointer;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm_submm_li a.megamenu_a
{
    border-bottom: none;
    display: inline; /* chỉ hiện cursor: pointer; khi di qua link a.megamenu_a */
	padding: 0;
}
.sp-vertical-megamenu .vf-megamenu li.spvmm_submm_li .spvmm_img_menu_product
{
    position: relative;
    width: 100%;
}

.img_spvmm_1
{
	vertical-align: middle;
	width: 97%;
	float: left;
	padding: 10px 5px;
}

.img_spvmm_2
{
	vertical-align: middle;
	width: 49%;
	float: left;
	padding: 10px 5px;
}

.img_spvmm_3
{
	vertical-align: middle;
	width: 49%;
	float: left;
	padding: 10px 5px;
}

.img_spvmm_4
{
	vertical-align: middle;
	width: 49.5%;
	float: left;
	padding: 10px 0 10px 8px;
}

.megamenu_image
{
    clear: both;
}
@media all and (max-width: 767px) {
    .sp-vertical-megamenu {
        min-height: auto !important;
    }

    .vf-megamenu {
        position: relative;
    }

    .sp-vertical-megamenu .cat-title {
        cursor: pointer;
    }

    #sp_vertical_megamenu
    {
        width: 100%;
        height: auto !important;
        min-height: 10px;
        margin-bottom: 20px;
    }
    .spvmm_menu_child
    {
        width: 100% !important;
    }

    .sp-vertical-megamenu .vf-megamenu li > div {
        position: static;
        left: 0;
        width: 100%;
        transform: scale(1);
        -webkit-transform: scale(1);
        z-index: 99999;
        box-shadow: 0 0 0;
    }

    .sp-vertical-megamenu .vf-megamenu li
    {
        clear: both;
        display: block;
    }

    .spvmm_numbers_col > ul {
        width: 100% !important;
        display: block;
    }

    .sp-vertical-megamenu .vf-megamenu li.spvmm-havechild > a.megamenu_a:after {
        content: '';
    }

    .cat-title:after
    {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 10px !important;
        font-size: 26px;
    }

    .sp-vertical-megamenu .vf-megamenu li.spvmm-havechild .vf-button {
        cursor: pointer;
        font-family: Fontawesome;
        font-size: 20px;
        position: absolute;
        right: 20px;
        width: 30px;
        height: 35px;
        top: 12px;
        color: #999;
    }

    .sp-vertical-megamenu .vf-megamenu li.spvmm-havechild .icon-open:after {
        content: "\f146";
        color: #999;
    }

	.img_spvmm
	{
		vertical-align: middle;
		width: 100%;
		float: left;
		padding: 10px 5px;
	}

    .sp-vertical-megamenu .vf-megamenu li.spvmm-havechild .icon-close:after {
        content: "\f0fe";
        color: #999;
    }

    .sp-vertical-megamenu .vf-megamenu .spvmm_container_menu_child
    {
        left: 0;
        position: static;
        display: block;
        transform: scale(1);
        -webkit-transform: scale(1);
        z-index: 99999;
    }
}
@media (min-width:1290px) and (max-width: 1460px){
	.spvmm_menu_child{
		max-width: 890px !important;
	}

	.col4 > ul
	{
		width:25%;
	}

	.col3 > ul
	{
		width:33.3%;
	}

	.col2 > ul {
		width:50%;
	}

	.col1 > ul{
		width:100%;
	}
}
@media (min-width:981px) and (max-width: 1289px){
   .spvmm_menu_child{
       max-width: 710px !important;
   }

    .col4 > ul
    {
        width:25%;
    }

    .col3 > ul
    {
        width:33.3%;
    }

    .col2 > ul {
        width:50%;
    }

    .col1 > ul {
        width:100%;
    }
}
@media (min-width:768px) and (max-width: 980px){
    .spvmm_menu_child{
        max-width: 570px !important;
    }

    .col4 > ul
    {
        width:25%;
    }

    .col3 > ul
    {
        width:33.3%;
    }

    .col2 > ul
    {
        width:50%;
    }

    .col1 > ul
    {
        width:100%;
    }
}

.hook_megamenu
{
	clear: both;
}