body
{
	font-family: Trebuchet Ms;
	font-size: 12px;
}
ul.custom-ul li, ul.custom-ul li ul li{ font-size: 12px !important; font-family: 'Arial'; margin-bottom: 10px;margin-top: 10px; }
ul.custom-ul font{ font-family: 'Arial'; font-size: 12px !important;}
.page-title
{
	font-family: 'Gill Sans MT Condensed';
	font-size: 36px;
}
.content
{
	text-align: justify;
	font-family: Trebuchet Ms;
	font-size: 12px;
}
a
{
	text-decoration: none;
	color: #000000;
}
a:hover
{
	text-decoration: underline;
	color: #800000;
}